/* BASIC  */

* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    margin: 0;
}

p {
    margin: 0;
}


.red{
    color: red;
}

.green {
    color: green;
} 

/* animations  */

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/* links */

.router-link-exact-active {
    color: gold
}

.active-link {
    color: darkgoldenrod;
}


/* HEADER & FOOTER  */

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background-color: gray;
    margin: 0 0 10px 0;
}

.app-footer {
    height: 5vh;
    background-color: blanchedalmond;
    margin: 0;
    text-align: center;
}

/* USER-MSG */

.user-msg {
    width: 200px;
    min-height: 50px;
    position: fixed;
    top: 15px;
    right: 0;
    text-align: center;
}

.user-msg span {
    color: blue;
}
.success {
    color: green;
    border: green solid 3px;
    background-color: honeydew;
}

.error {
    color: red;
    border: red solid 3px;
    background-color: honeydew;
}


/* PAGES  */

/* HOME PAGE */

.home-page  {
    text-align: center;
    margin-bottom: 20px;
}

.home-page img {
    width: 70%;
}

/* ABOUT PAGE */

.about-page { 
    text-align: center;
    margin-bottom: 15px;
}

.about-page img {
    width: 50%;
}


/* BOOK APP PAGE  */
    .book-app { 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 90vh; */
    /* max-height: 90vh; */
}

.book-filter {
    display: flex;
    flex-direction: column;
}

.book-list ul {
    display: flex;  
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
}

.book-preview {
    background-color: lightpink;
    border: green solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 130px;
    text-align: center;
}

.book-preview img {
    width: 40%;
}


/* BOOK DETAILS PAGE */

.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.book-details img {
    width: 25%;
}

/* REVIEW FORM  */

.review-form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.review-text-box {
    height: 100px;
    width: 200px;
}

.review-add ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

.review-add li{
    border: gray 1px solid;
}

/* BOOK ADD PAGE  */

.app-header {
    
}